.home-container{
    width: 100%;
    min-height: 800px;
    background-color: rgba(99, 178, 226, 0.511);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-container-box{
    max-width: 60rem;
    max-height: 80%;
    width: 60%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    background-color: rgba(4, 23, 22, 0.416);
    box-shadow: 0px 0px 10px 3px rgba(43, 164, 49, 0.559),0 0 10px 3px rgba(9, 23, 10, 0.559);
    border-radius: 10px;
    h3{
        color: white;
    }
}
.add-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(23, 36, 134, 0.926);
    position: fixed;
    top:70%;
    right: 10%;
    display: flex;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    >:nth-child(1){
        position: relative;
        top: 44%;
        left: 0%;
        height: 3px;
        width: 30px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 2px;
    }
    >:nth-child(2){
        position: relative;
        top: 39%;
        height: 3px;
        width: 30px;
        background-color: rgba(255, 255, 255, 1);
        transform: rotate(90deg);
        border-radius: 2px;

    }
}
.search-bar{
   border-radius: 5px;
   border: none;
   background-color: rgba(39, 114, 89, 0.727);
   color: white;
   height: 5vh;
   max-height: 3rem;
   padding: 10px;
}
.hide{
    display: none;
}

.expense-container{
    width: 80%;
    max-height: 780px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.expense-container::-webkit-scrollbar{
    padding: 0;
    margin: 0;
    width: 2px;
    background-color: aliceblue;
}
.expense-container::-webkit-scrollbar-thumb{
    background-color: rgb(46, 128, 84);  
}

@media screen and (max-width:280px) {
    .add-btn{
        transform: scale(0.4);
        top: 90%;
        right: 0%;
    }
    .home-container-box{
        top: 6%;
    }
    .home-container-box h3{
        font-size: small;
    }
}
@media screen and (min-width:280px) and (max-width: 468px){
    .add-btn{
        transform: scale(0.7);
        top: 80%;
        right: 3%;
    }
    .home-container-box{
        top: 8%;
    }
   
  }
@media screen and (min-width:468px) and (max-width: 628px){
    .home-container-box{
        top: 10%;
    }
  }
@media screen and (min-width:628px) and (max-width: 1024px){
    .add-btn{
        top: 80%;
        right: 8%;
    }
    .home-container-box{
        top: 8%;
        max-height: 780px;
    }
    .home-container{
        min-height: 1336px;
    }
  }
  
  