.edit-container{
    position: relative;
    background-color: rgba(14, 135, 235, 0.622);
    width: 100%;
    height: 580px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form-container{
    position: relative;
    max-width: 35rem;
    width: 50%;
    top: 10%;
    background-color: rgba(19, 127, 222, 0.345);
    padding: 3px;
    border-radius: 5px;
    box-shadow: 5px 4px 3px 3px rgba(153, 222, 229, 0.607);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-container{
    width: 60%;
    left: 20%;
    background-color: rgba(250, 235, 215, 0.29);
    margin: 10px;
    padding: 5px 3px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px 5px rgba(105, 159, 193, 0.559);
}
.detail-container h3{
    background-color: rgba(232, 223, 240, 0.063);
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgba(225, 167, 167, 0.312);
    padding-bottom: 3px;
    color: white;
}

.detail-container :nth-child(2){
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: rgba(240, 248, 255, 0);
    :nth-child(1){
        padding-top: 5px;
        background-color: rgba(0, 0, 255, 0);
        font-size: 15px;
        font-family:Arial, sans-serif;
    }
    :nth-child(2){
        padding-top:4px ;
        width: max-content;
        padding-right: 0;
        background-color: rgba(255, 0, 0, 0);
        font-size: 15px;
    }
}
#date{
    display: flex;
    justify-content: space-between;
    background-color: rgba(165, 42, 42, 0);
    :first-child{
        background-color: rgba(240, 248, 255, 0);
    }
    :nth-child(2){
        width: max-content;
        background-color: rgba(0, 0, 255, 0);
    }
}

.edit-container form{
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.603);
    margin: 5px;
    width: 61%;
    padding: 2px;
    border-radius: 4px;
    background-color: #aca3d7c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        background-color: rgba(248, 249, 250, 0.9);
        display: block;
        height: 30px;
        width: 60%;
        border-radius: 5px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid rgba(213, 227, 240, 0.9);
        opacity: 0.7;
    }
    button{
        display: block;
        margin-top: 50px;
        width: 50%;
        background-color: #2f2fdcb8;
        color: #ecebf1;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 0 40px rgba(102, 88, 211, 0.6);
        margin-bottom: 50px;
    }
    select{
        margin-top: 10px;
        width: 20%;
        display: block;
        border: 2px solid black;
        border-radius: 4px;
        background-color: #ecebf1;
        opacity: 1;
        color: rgb(233, 5, 5);
    }
    button:hover{
        transform: scale(1.05,1.05);
    }
}

.shape2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position:absolute;
}
.shape2:first-child{
    background: radial-gradient(
        rgba(255, 255, 0, 0.568)10%,rgba(4, 228, 38, 0.459),rgba(255, 166, 0, 0.751)
    );
    top: 3%;
    left: 28%;
}
.shape2:nth-child(2){
    background: radial-gradient(
        rgba(0, 128, 0, 0.767),rgba(128, 0, 128, 0.729),rgba(255, 255, 0, 0.723)
    );
    right: 28%;
    bottom: 18%;
}

@media screen and (max-width: 328px) {
    .edit-form-container{
        width: 80%;
    }
    .detail-container{
        font-size: small;
    }
    #date{
        flex-direction: column;
    }
    .detail-container :nth-child(2){
        flex-direction: column;
    }
    .edit-container form{
        width: 90%;
    }
    .edit-container form input{
        width: 80%;
        font-size: small;
    }
    .edit-container form select{
        width: 30%;
    }
    .edit-container form button{
        font-size: small;
    }
    .shape2{
        display: none;
    }
 
}
@media screen and (min-width:328px) and (max-width: 728px) {
    .edit-form-container{
        width: 60%;
    }
    .detail-container{
        font-size: small;
    }
    #date{
        flex-direction: column;
    }
    .detail-container :nth-child(2){
        flex-direction: column;
    }
    .edit-container form{
        width: 80%;
    }
    .edit-container form input{
        width: 80%;
        font-size: small;
    }
    .edit-container form select{
        width: 30%;
    }
    .edit-container form button{
        font-size: small;
    }
    .shape2{
        display: none;
    }
}
@media screen and (min-width:728px) and (max-width: 1128px) {
    .edit-form-container{
        width: 60%;
    }
    .detail-container{
        font-size: small;
    }
    #date{
        flex-direction: column;
    }
    .detail-container :nth-child(2){
        flex-direction: column;
    }
    .edit-container form{
        width: 65%;
    }
    .edit-container form input{
        width: 80%;
        font-size: small;
    }
    .edit-container form select{
        width: 30%;
    }
    .edit-container form button{
        font-size: small;
    }
    .shape2:first-child{
        left: 20%;
    }
    .shape2:nth-child(2){
        right: 20%;
        bottom: 15%;
    }
}
