body{
    background-color: rgba(0, 0, 0, 0.853);
}
button:disabled{
    cursor: not-allowed;
    opacity: 0.3;
}
*{
    border: none;
}

.sucess-prop{
    width: auto;
    height: auto;
    color: green;

}
